.about-us-banner {
  background-image: url("../img/image.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  text-align: center;
}

.banner-text {
  background-color: rgba(0, 0, 0, 0.734);
  padding: 2rem;
  border-radius: 10px;
}

.card-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.info-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  padding: 1rem;
  text-align: center;
  width: 100%;
  max-width: 300px;
  transition: transform 0.3s ease;
}

.info-card:hover {
  transform: translateY(-5px);
}

.info-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}


/* Optional for smaller devices */
@media (max-width: 768px) {
  .card-slider {
    flex-direction: column;
    align-items: center;
  }
}
